

#hero {
    padding-top: 67px;
    
    h1 {
        font-weight: bold;
        font-size: 32px;
        color: $white;
        margin: 0 0 32px 0;
        max-width: 516pxl
    }

    p.eyebrow {
        font-weight: bold;
        font-size: 14px;
        margin: 0 0 16px 0;
    }

    p {
        font-size: 16px;
        margin-bottom: 59px;
        line-height: 20px;
        max-width: 516px;

        &.normal {
            margin-bottom: 32px;
        }
    }

    h2 {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 39px;
    }

    .cost {
        margin-bottom: 44px;

        img {
            margin-bottom: 21px;
        }

        h3 {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 12px;
        }

        p {
            font-size: 12px;
            margin-bottom: 0px;
            line-height: 16px;
            max-width: 516px;
        }
    }

    nav.scroll {
        text-transform: uppercase;
        font-size: 10px;
        margin-bottom: 28px;

        img {
            margin-right: 15px;
        }
    }

    a.button {
        background-color: $cyan;
        color: $white;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        border: 0px;
        outline: 0px;
        padding: 13px 20px 13px 20px;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 64px;

        &:hover {
            background-color: $light-grey;
            color: $black;
        }
    }
}