.receipt-header {

    -webkit-box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.1); 
    box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.1);
    padding: 28px 0 28px 0;

    h2 {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 16px;

        &.cyan {
            color: $cyan;
        }
    }

    p {
        font-size: 14px;
        color: $grey;
        line-height: 18px;
        margin-bottom: 0px;
    }
}

.results {

    hr {
        margin-top: 0px;
    }

    .row {
        &.result-section {
            > div:nth-child(2) {
                background-color: $light-cyan;
            }
        }
        
        &.result {
            &.grand-total {
                p {

                }
            }

            > div:nth-child(2) {
                background-color: $light-cyan;
            }

            &.reprocessing {
                p {
                    font-size: 12px;
                    margin-bottom: 8px;
                }
                hr {
                    display: none;

                    &.show {
                        display: block !important;
                    }
                }
            }

            &.reprocessing-costs {
                .value {
                    font-weight: bold;
                }

                hr {
                    display: none;
                }
            }
        }

        div.total {

            &.grand {
                p {
                    font-size: 24px;
                    margin-top: 20px;
                    margin-bottom: 60px;
                }
            }
            
            p {
                font-weight: bold;
                color: $blue;
                margin-bottom: 40px;
            }

            &.with {
                p {
                    color: $cyan;
                }
            }
        }
    }

    h3 {
        margin-top: 24px;
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    
    p {
        color: $grey;
        font-size: 14px;
        line-height: 18px;
        
        &.value {
            text-align: right;
            font-size: 16px;
        }
    }
}

.download-footer {
    h2 {
        margin-top: 33px;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 30px;
    }

    a.button {
        background-color: $cyan;
        color: $white;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        border: 0px;
        outline: 0px;
        padding: 13px 20px 13px 20px;
        text-decoration: none;
        margin-top: 20px;
        float: right;

        &:hover {
            background-color: $light-grey;
            color: $black;
        }
    }
}