.background {
    width: 100%;

    &.blue {
        background-color: blue;
        color: white;
    }
    &.white {
        color: black;
    }
}

.container-md {
    max-width: 768px;
}

input.slider {
    width: 100%;
}