/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3cd86c");
@font-face {
  font-family: "Helvetica";
  font-style: oblique;
  src: url("../fonts/helvetica/HelveticaLTWXX-Oblique/font.woff2") format("woff2"), url("../fonts/helvetica/HelveticaLTWXX-Oblique/font.woff") format("woff");
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica/HelveticaLTWXX-Roman/font.woff2") format("woff2"), url("../fonts/helvetica/HelveticaLTWXX-Roman/font.woff") format("woff");
}
@font-face {
  font-family: "Helvetica";
  font-weight: bold;
  src: url("../fonts/helvetica/HelveticaLTWXX-Bold/font.woff2") format("woff2"), url("../fonts/helvetica/HelveticaLTWXX-Bold/font.woff") format("woff");
}
@font-face {
  font-family: "Helvetica";
  font-weight: 300;
  src: url("../fonts/helvetica/HelveticaLTWXX-Light/font.woff2") format("woff2"), url("../fonts/helvetica/HelveticaLTWXX-Light/font.woff") format("woff");
}
@font-face {
  font-family: "Helvetica-Light-Oblique";
  src: url("../fonts/helvetica/HelveticaLTWXX-LightOblique/font.woff2") format("woff2"), url("../fonts/helvetica/HelveticaLTWXX-LightOblique/font.woff") format("woff");
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica", "Arial", "Verdana", sans-serif;
}

#content-pg-1 {
  padding: 62.4pt 68.9pt;
}
#content-pg-1 .bflex-logo {
  width: 313.3pt;
  margin-bottom: 208pt;
}
#content-pg-1 h1 {
  color: #003C71;
  font-weight: 300;
  font-size: 49.92pt;
  line-height: 59.93pt;
  margin-bottom: 52px;
}
#content-pg-1 h1 strong {
  font-weight: bold;
}
#content-pg-1 .variable-text-container {
  height: 356.2pt;
}
#content-pg-1 .variable-text-container h2 {
  font-size: 22.49pt;
  color: #000;
  font-weight: 300;
  width: 539.5pt;
}
#content-pg-1 .variable-text-container h2 strong {
  font-weight: bold;
}
#content-pg-1 .verathon-logo {
  width: 143pt;
}

#content-pg-2 {
  padding: 58.5pt 68.9pt 32.5pt 68.9pt;
}
#content-pg-2 table.two-col {
  border-color: transparent;
}
#content-pg-2 table.two-col td.left {
  width: 443.3pt;
  vertical-align: top;
}
#content-pg-2 table.two-col td.right {
  width: 210.6pt;
  vertical-align: top;
}
#content-pg-2 table.two-col td.right figure {
  font-family: "Helvetica-Light-Oblique", "Arial", "Verdana", "sans-serif";
  color: #00BFB2;
  font-size: 20.02pt;
  line-height: 24.96pt;
  margin-bottom: 13pt;
}
#content-pg-2 table.two-col td.right figcaption {
  font-size: 8.71pt;
  font-weight: 300;
  line-height: 12.48pt;
  margin-bottom: 23.4pt;
}
#content-pg-2 table.two-col td.right img.scope {
  width: 97.5pt;
  margin-left: 55.9pt;
}
#content-pg-2 h1 {
  font-size: 36.4pt;
  color: #003C71;
  font-weight: bold;
  margin-bottom: 13pt;
}
#content-pg-2 h2 {
  color: #000;
  font-weight: bold;
  font-size: 14.95pt;
  line-height: 17.42pt;
  width: 405.6pt;
  margin-bottom: 13pt;
}
#content-pg-2 p.intro, #content-pg-2 p.intro-2 {
  font-size: 12.48pt;
  line-height: 17.42pt;
  font-weight: 300;
  color: #000;
  width: 405.6pt;
}
#content-pg-2 p.intro.intro, #content-pg-2 p.intro-2.intro {
  margin-bottom: 13pt;
}
#content-pg-2 p.intro.intro-2, #content-pg-2 p.intro-2.intro-2 {
  margin-bottom: 26pt;
}
#content-pg-2 h3 {
  font-weight: bold;
  font-size: 22.49pt;
  margin-bottom: 28.6pt;
}
#content-pg-2 table.points {
  border-color: transparent;
}
#content-pg-2 table.points td {
  vertical-align: top;
}
#content-pg-2 table.points td h4 {
  font-size: 14.95pt;
  font-weight: bold;
}
#content-pg-2 table.points td p {
  color: #7c7c7c;
  font-weight: 300;
  margin-bottom: 19.5pt;
  line-height: 1.4;
}
#content-pg-2 table.points td.left {
  width: 78pt;
  text-align: left;
}
#content-pg-2 table.points td.left img.reprocessing-icon {
  width: 46.8pt;
}
#content-pg-2 table.points td.left img.maintenance-icon {
  width: 61.1pt;
}
#content-pg-2 table.points td.left img.infections-icon {
  width: 49.4pt;
}
#content-pg-2 table.points td.left img.contracts-icon {
  width: 45.5pt;
}
#content-pg-2 table.points td.right {
  width: 341.9pt;
}
#content-pg-2 .footnotes p {
  font-size: 7.54pt;
  line-height: 7.54pt;
  color: #7c7c7c;
  font-style: oblique;
  margin-bottom: 7.8pt;
}

#content-pg-3 {
  width: 100%;
  padding: 18.7pt;
}
#content-pg-3 .hero {
  width: 100%;
  background-color: #003C71;
  color: #fff;
  padding: 35.5pt 35.6pt 22.5pt 35.6pt;
  margin: 0px;
}
#content-pg-3 .hero h2 {
  font-size: 20.76pt;
  font-weight: bold;
}
#content-pg-3 .hero p {
  font-size: 9.6pt;
  width: 328pt;
  line-height: 13.4pt;
}
#content-pg-3 .hero h5 {
  margin-top: 60pt;
  text-align: right;
}
#content-pg-3 table {
  width: 100%;
  border-color: transparent;
}
#content-pg-3 table td {
  width: 50%;
  border-left: 1px solid #C2C1C1;
  border-bottom: 1px solid #C2C1C1;
  padding: 22pt 21pt 22pt 35.6pt;
  vertical-align: top;
}
#content-pg-3 table td.with {
  background-color: rgba(0, 191, 178, 0.2);
  border-right: 1px solid #C2C1C1;
  border-left: 0px;
  padding: 22pt 35.6pt 22pt 21pt;
}
#content-pg-3 table td.with h3 {
  color: #00BFB2;
}
#content-pg-3 table td h3 {
  color: #003C71;
  font-weight: bold;
  margin-bottom: 5pt;
  font-size: 18.48pt;
}
#content-pg-3 table td p.eyebrow {
  font-size: 9.24pt;
  margin-bottom: 30pt;
  color: #62605E;
}
#content-pg-3 table td h4 {
  font-size: 11.5pt;
  color: #000;
  margin-bottom: 2pt;
  font-weight: bold;
}
#content-pg-3 table td h4 sup {
  font-weight: normal;
}
#content-pg-3 table td table {
  margin-bottom: 9.6pt;
  border-color: transparent;
}
#content-pg-3 table td table:before {
  outline: none;
}
#content-pg-3 table td table.section {
  margin-bottom: 4pt;
}
#content-pg-3 table td table.result {
  margin-bottom: 3pt;
}
#content-pg-3 table td table.reprocessing td {
  padding-bottom: 3pt;
}
#content-pg-3 table td table.reprocessing td:last-child {
  font-size: 7.7pt;
}
#content-pg-3 table td table.grand-total td {
  font-size: 13.4pt;
  font-weight: bold;
  color: #000;
  width: 80%;
}
#content-pg-3 table td table.grand-total td:last-child {
  font-size: 13.4pt;
  width: 20%;
}
#content-pg-3 table td table td {
  border: 0px;
  padding: 0px;
  vertical-align: top;
  font-size: 9.24pt;
  color: #62605E;
  width: 70%;
  padding-bottom: 3pt;
  line-height: 1.4;
}
#content-pg-3 table td table td:last-child {
  text-align: right;
  font-size: 10pt;
  font-weight: bold;
}
#content-pg-3 table td table td p.section-value {
  font-size: 11.5pt;
  margin-bottom: 0px;
}
#content-pg-3 table td table.sum {
  margin-bottom: 14pt;
}
#content-pg-3 table td table.sum h4 {
  color: #003C71;
}
#content-pg-3 table td table.sum td:last-child {
  font-size: 11.5pt;
  color: #003C71;
  font-weight: bold;
}
#content-pg-3 table td hr {
  margin-top: 5.4pt;
}
#content-pg-3 .footnotes {
  margin-top: 9.6pt;
}
#content-pg-3 .footnotes p {
  font-size: 6.96pt;
  color: #7c7c7c;
  font-family: "Helvetica-Light-Oblique", "Arial", "Verdana", "sans-serif";
  margin-bottom: 5pt;
}

/*# sourceMappingURL=pdf.css.map */
