@import 'colors';
@import 'fonts';

body {
    margin: 0px;
    padding: 0px;
    font-family: $font-family;
}

#content-pg-1 {
    $factor: 1.3; // The PDF generator scales things down, not sure why.

    padding: (48pt * $factor) (53pt * $factor);

    .bflex-logo {
        width: 241pt * $factor;
        margin-bottom: 160pt * $factor;
    }

    h1 {
        color: $blue;
        font-weight: 300;
        font-size: 38.4pt * $factor;
        line-height: 46.1pt * $factor;
        margin-bottom: 40px * $factor;

        strong {
            font-weight: bold;
        }
    }

    .variable-text-container {
        height: 274pt * $factor;

        h2 {
            font-size: 17.3pt * $factor;
            color: $black;
            font-weight: 300;
            width: 415pt * $factor;
    
            strong {
                font-weight: bold;
            }
        }
    }
    

    .verathon-logo {
        width: 110pt * $factor;
    }
}

#content-pg-2 {
    $factor: 1.3; // The PDF generator scales things down, not sure why.

    padding: (45pt * $factor) (53pt * $factor) (25pt * $factor) (53pt * $factor);

    table.two-col {
        border-color: transparent; // invisible border makes border disappear in Chrome PDF viewer.

        td.left {
            width: 341pt * $factor;
            vertical-align: top;
        }

        td.right {
            width: 162pt * $factor;
            vertical-align: top;

            figure {
                font-family: $font-family-light-oblique;
                color: $cyan;
                font-size: 15.4pt * $factor;
                line-height: 19.2pt * $factor;
                margin-bottom: 10pt * $factor;
            }
            
            figcaption {
                font-size: 6.7pt * $factor;
                font-weight: 300;
                line-height: 9.6pt * $factor;
                margin-bottom: 18pt * $factor;
            }

            img.scope {
                width: 75pt * $factor;
                margin-left: 43pt * $factor;
            }
        }
    }

    h1 {
        font-size: 28pt * $factor;
        color: $blue;
        font-weight: bold;
        margin-bottom: 10pt * $factor;
    }

    h2 {
        color: $black;
        font-weight: bold;
        font-size: 11.5pt * $factor;
        line-height: 13.4pt * $factor;
        width: 312pt * $factor;
        margin-bottom: 10pt * $factor;
    }

    p.intro, p.intro-2 {
        font-size: 9.6pt * $factor;
        line-height: 13.4pt * $factor;
        font-weight: 300;
        color: $black;
        width: 312pt * $factor;

        &.intro {
            margin-bottom: 10pt * $factor;
        }

        &.intro-2 {
            margin-bottom: 20pt * $factor;
        }
    }

    h3 {
        font-weight: bold;
        font-size: 17.3pt * $factor;
        margin-bottom: 22pt * $factor;
    }

    table.points {
        border-color: transparent; // helps remove borders in Chrome PDF viewer

        td {
            vertical-align: top;

            h4 {
                font-size: 11.5pt * $factor;
                font-weight: bold;
            }

            p {
                color: $grey;
                font-weight: 300;
                margin-bottom: 15pt * $factor;
                line-height: 1.4;
            }
        }
        td.left {
            width: 60pt * $factor;
            text-align: left;

            img.reprocessing-icon {
                width: 36pt * $factor;
            }

            img.maintenance-icon {
                width: 47pt * $factor;
            }

            img.infections-icon {
                width: 38pt * $factor;
            }

            img.contracts-icon {
                width: 35pt * $factor;
            }
        }

        td.right {
            width: 263pt * $factor;
        }
    }
    .footnotes {
        p {
            font-size: 5.8pt * $factor;
            line-height: 5.8pt * $factor;
            color: $grey;
            font-style: oblique;
            margin-bottom: 6pt * $factor;
        }
    }
}

#content-pg-3 {
    width: 100%;
    padding: 18.7pt;
    
    .hero {
        width: 100%;
        background-color: $blue;
        color: $white;
        padding: 35.5pt 35.6pt 22.5pt 35.6pt;
        margin: 0px;

        h2 {
            font-size: 17.3pt * 1.2;
            font-weight: bold;
        }

        p {
            font-size: 9.6pt;
            width: 328pt;
            line-height: 13.4pt;
        }

        h5 {
            margin-top: 60pt;
            text-align: right;
        }

        
    }

    table {
        width: 100%;
        border-color: transparent;

        &#hero-layout {
            border-color: transparent;

            td {
                // padding: 20pt 0px 0 0 !important;
                padding: 0pt !important;
                border: 0px;
                border-color: transparent;
                vertical-align: bottom;
                
            }
        }
        
        td {
            width: 50%;
            border-left: 1px solid $very-light-grey;
            border-bottom: 1px solid $very-light-grey;
            padding: 22pt 21pt 22pt 35.6pt;
            vertical-align: top;

            &.with {
                background-color: $light-cyan;
                border-right: 1px solid $very-light-grey;
                border-left: 0px;
                padding: 22pt 35.6pt 22pt 21pt;

                h3 {
                    color: $cyan;
                }
            }

            h3 {
                color: $blue;
                font-weight: bold;
                margin-bottom: 5pt;
                font-size: 15.4pt * 1.2;
            }

            p.eyebrow {
                font-size: 9.24pt;
                margin-bottom: 30pt;
                color: #62605E;
            }

            h4 {
                font-size: 11.5pt;
                color: $black;
                margin-bottom: 2pt;
                font-weight: bold;

                sup {
                    font-weight: normal;
                }

            }

            table {
                margin-bottom: 9.6pt;
                border-color: transparent;

                &:before {
                    outline: none;
                }

                &.section {
                    margin-bottom: 4pt;
                }

                &.result {
                    margin-bottom: 3pt;
                }

                &.reprocessing {
                    td {
                        padding-bottom: 3pt;
                    }
                    td:last-child {
                        font-size: 7.7pt;
                    }
                }

                &.grand-total {
                    td {
                        font-size: 13.4pt;
                        font-weight: bold;
                        color: $black;
                        width: 80%;

                        &:last-child {
                            font-size: 13.4pt;
                            width: 20%; 
                        }
                    }
                }

                td {
                    border: 0px;
                    padding: 0px;
                    vertical-align: top;
                    font-size: 7.7pt * 1.2;
                    color: #62605E;
                    width: 70%;
                    padding-bottom: 3pt;
                    line-height: 1.4;

                    &:last-child {
                        text-align: right;
                        font-size: 10pt;
                        font-weight: bold;
                    }

                    p.section-value {
                        font-size: 11.5pt;
                        margin-bottom: 0px;
                    }
                }

                &.sum {

                    margin-bottom: 14pt;

                    h4 {
                        color: $blue;
                    }
                    
                    td:last-child {
                        font-size: 11.5pt;
                        color: $blue;
                        font-weight: bold;
                    }
                }
            }

            hr {
                margin-top: 5.4pt;
            }
        }
    }

    .footnotes {
        margin-top: 9.6pt;
        p {
            font-size: 5.8pt * 1.2;
            color: $grey;
            font-family: $font-family-light-oblique;
            margin-bottom: 5pt;
        }
    }
    

}

