@import 'colors';
@import 'fonts';

body {
    margin: 0px;
    padding: 0px;
    font-family: $font-family;
}

#content {
    width: 100%;
    padding: .25in;
    
    .hero {
        width: 100%;
        background-color: $blue;
        color: $white;
        padding: .25in;
        margin: 0px;
    }
}

h2 {
    font-size: 17.3pt;
}